html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-weight: 900;
}

p {
    color: #8f8f8f;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/*Navigation Bar*/
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 1.125rem;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
}

/*Download Buttons*/
.download-btn {
    margin: 5% 3% 5% 0;
}

/*Title Image*/
.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/*Features*/

/*Feature Symbols*/

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}
.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

/*feature box*/
.feature-box {
    padding: 4.5%;
}

.feature-box p {
    margin: auto;
    width: 70%;
}

/*Testimonial Section*/

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

#testimonials img {
    width: 10%;
    border-radius: 50%;
    margin: 1.25rem;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#press img {
    width: 15%;
    margin: 1.125rem 1.125rem 3.125rem;
}

.carousel-item {
    padding: 7% 15%;
}

/*Pricing*/

#pricing {
    padding: 6.25rem;
}

.pricing-column {
    padding: 3% 2%;
}

/*CTA*/
#cta {
    text-align: center;
    background-color: #ff4c68;
    padding: 10%;
    color: #fff;
}

#cta h3 {
    font-size: 3rem;
}

/*Footer*/
#footer {
    text-align: center;
    padding: 7% 15%;
}

#footer i {
    margin: 1.25rem;
}


@media (max-width: 1028px){
    .title-img {
        position: static;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
}
